:root {
  --loader-light: #fff;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.webGraffiti {
  position: relative;
}

.webGraffiti__canvas {
  background-color: #fff;
}

.webGraffiti__loader {
  position: absolute;
  z-index: 10;
  background-color: #456;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-around;
}

.webGraffiti__loader--shown {
  display: flex;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.webGraffiti__loader_spinner {
  position: relative;
  align-self: center;
  transform: translateY(-50%);
}

.webGraffiti__loader_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 6px solid #f66;
  border-top-color: #ee0;
  border-right-color: #6dd;
  border-bottom-color: #09f;
  animation: spinner 1.6s linear infinite;
}

.webGraffiti__loader_spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 3px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner 1.8s linear infinite;
}

.webGraffiti__editor {
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  padding: 1rem;
  background-color: rgb(92, 122, 101);
  border-top: 5px rgb(49, 66, 54) solid;
  transition: all 0.2s;
  text-align: center;
  opacity: 0.6;
  box-sizing: border-box;
}

.webGraffiti__editor_container {
  position: relative;
}

.webGraffiti__editor_handle {
  display: none;
  position: absolute;
  top: calc(-2rem - 5px);
  left: calc(50% - 5rem);
  height: 2rem;
  width: 10rem;
  background-color: rgb(92, 122, 101);
  border: 5px rgb(49, 66, 54) solid;
  border-bottom: 0;
}

.webGraffiti__editor:hover {
  bottom: 0;
  opacity: 1;
}

.webGraffiti__editor_brush {
  position: absolute;
  right: 0;
  top: 0;
  width: 5rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.webGraffiti__editor_brush_inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.webGraffiti__editor_brush_preview {
  border-radius: 50%;
  margin: auto;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.webGraffiti_editor_brush_slider {
  position: absolute;
  right: calc(5rem + 4px);
  top: 4px;
  height: 4rem;
  margin: 0;
  padding: 0;
}

.webGraffiti__connection {
}

.webGraffiti__color {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin: 4px;
  border: 2px #fff solid;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  padding: 0;
  transition: all 0.1s;
  opacity: 0.6;
}

.webGraffiti__color:hover {
  transform: scale(1.25);
  opacity: 1;
}

.webGraffiti__color--active {
  border: 2px rgb(255, 143, 52) solid;
}

.webGraffiti__network_monitor {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
}

.webGraffiti__network_monitor_sent_per_second,
.webGraffiti__network_monitor_received_per_second {
  vertical-align: middle;
  font-family: arial;
  font-size: 1.5rem;
}

.webGraffiti__network_monitor_sent_per_second_value,
.webGraffiti__network_monitor_received_per_second_value {
  vertical-align: middle;
}

.webGraffiti__network_monitor_sent_per_second::after,
.webGraffiti__network_monitor_received_per_second_value::after {
  content: "messages/s";
  margin-left: 1rem;
  vertical-align: middle;
}

.webGraffiti__network_monitor_sent_per_second::before {
  content: "sent";
  margin-right: 1rem;
  vertical-align: middle;
}

.webGraffiti__network_monitor_received_per_second::before {
  content: "received";
  margin-right: 1rem;
  vertical-align: middle;
}
