:root {
  --loader-light: #fff;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.webGraffiti {
  margin-top: 0px;
  position: relative;

  .webGraffiti__canvas {
    background-color: #fff;
  }
}



.webGraffiti__loader {
  position: absolute;
  z-index: 10;
  background-color: #456;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-around;
}

.webGraffiti__loader--shown {
  display: flex;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.webGraffiti__loader_spinner {
  position: relative;
  align-self: center;
  transform: translateY(-50%);
}

.webGraffiti__loader_spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 6px solid #f66;
  border-top-color: #ee0;
  border-right-color: #6dd;
  border-bottom-color: #09f;
  animation: spinner 1.6s linear infinite;
}

.webGraffiti__loader_spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 16px;
  left: 16px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 3px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  animation: spinner 1.8s linear infinite;
}

.webGraffiti__editor {
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  padding: 0.5rem;
  padding-right: 0;
  background-color: rgb(92, 122, 101);
  border-top: 5px rgb(49, 66, 54) solid;
  transition: all 0.2s;
  text-align: center;
  box-sizing: border-box;
}

.webGraffiti__editor_inner {
  display: flex;
  gap: 1rem;
  height: 100%;
  white-space: nowrap;
}

.webGraffiti__editor_container {
  position: relative;
}

.webGraffiti__editor_handle {
  display: none;
  position: absolute;
  top: calc(-2rem - 5px);
  left: calc(50% - 5rem);
  height: 2rem;
  width: 10rem;
  background-color: rgb(92, 122, 101);
  border: 5px rgb(49, 66, 54) solid;
  border-bottom: 0;
}

.webGraffiti__editor--gone {
  display: none;
}

.webGraffiti__editor_brush {
  position: relative;
  flex-grow: 2;
  width: 96px;
  background-color: #8da293;
  border-right: 0.5rem rgb(92, 122, 101);
}

.webGraffiti__editor_paint_meter {
  width: 1rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px #fff solid;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.webGraffiti__editor_paint_remaining {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #f00;
}

.webGraffiti__editor_palette {
  flex-grow: 8;
  width: 80%;
  padding: 8px;
  overflow-y: hidden;
  overflow-x: auto;
}

.webGraffiti__editor_brush_inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.webGraffiti__editor_brush_preview {
  border-radius: 50%;
  margin: auto;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.webGraffiti_editor_brush_slider {
  position: absolute;
  left: 1rem;
  width: 1rem;
  top: 4px;
  height: 90%;
  margin: 0;
  padding: 0;
  -webkit-appearance: slider-vertical;
}

.webGraffiti__connection {
}

.webGraffiti__color {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin: auto 4px;
  border: 2px #fff solid;
  border-radius: 4px;
  width: 2rem;
  height: 2rem;
  padding: 0;
  transition: all 0.1s;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    transform: translateY(-50%) scale(1.25);
    z-index: 2;
  }
}

.webGraffiti__color--active {
  border: 2px rgb(255, 143, 52) solid;
}

@media screen and (max-width: 1024px) {
  .webGraffiti__editor {
    height: auto;
  }

  .webGraffiti__editor_inner {
  }

  .webGraffiti__color {
    width: 10vh;
    height: 10vh;

    .webGraffiti__colorPicker {
      display: none;

      &.webGraffiti__colorPicker--active {
        display: initial;
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }
  }

  .webGraffiti__editor_brush {
    width: 20%;
  }
}

.webGraffiti__network_monitor {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
}

.webGraffiti__network_monitor_sent_per_second,
.webGraffiti__network_monitor_received_per_second {
  vertical-align: middle;
  font-family: arial;
  font-size: 1.5rem;
}

.webGraffiti__network_monitor_sent_per_second_value,
.webGraffiti__network_monitor_received_per_second_value {
  vertical-align: middle;
}

.webGraffiti__network_monitor_sent_per_second::after,
.webGraffiti__network_monitor_received_per_second_value::after {
  content: "messages/s";
  margin-left: 1rem;
  vertical-align: middle;
}

.webGraffiti__network_monitor_sent_per_second::before {
  content: "sent";
  margin-right: 1rem;
  vertical-align: middle;
}

.webGraffiti__network_monitor_received_per_second::before {
  content: "received";
  margin-right: 1rem;
  vertical-align: middle;
}
